<!--Duplicate this page for creating additional pages-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{msg.page.data}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a th:href="@{/admin/bookmark-export}" class="btn btn-default">Export Bookmarks</a>
        </div>
    </div>

</div>
</body>
</html>