<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{msg.siteName}"></title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
        <script src="//code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
    <header>
        <nav class="navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}" th:text="#{msg.siteName}"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/add-bookmark}" th:title="#{msg.submitBookmark}">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;
                                <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.submitBookmark}"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/(view=table)}" th:title="#{msg.page.tableView}">
                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;
                                <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.tableView}"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/(view=category)}" th:title="#{msg.page.categoryView}">
                                <i class="glyphicon glyphicon-th-list"></i>&nbsp;
                                <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.categoryView}"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/(view=tree)}" th:title="#{msg.page.splayTreeView}">
                                <i class="glyphicon glyphicon-tree-conifer"></i>&nbsp;
                                <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.splayTreeView}"></span>
                            </a>
                        </li>
                        <li>
                            <form class="navbar-form" method="get" th:action="@{/search}">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="query" th:placeholder="#{msg.searchBookmarks}" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="hasAuthority('admin')">
                            <li>
                                <a th:href="@{/admin/review-bookmarks}" th:title="#{msg.page.reviewBookmarks}">
                                    <i class="glyphicon glyphicon-bookmark"></i>&nbsp;
                                    <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.reviewBookmarks}"></span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/dead-link-report}" th:title="#{msg.page.deadLinks}">
                                    <i class="glyphicon glyphicon-ban-circle"></i>&nbsp;
                                    <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.deadLinks}"></span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/users}" th:title="#{msg.page.users}">
                                    <i class="glyphicon glyphicon-user"></i>&nbsp;
                                    <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.users}"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" href="#dataManagementModal" th:title="#{msg.page.data}">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;
                                    <span class="hidden-sm hidden-md hidden-lg hidden-xl" th:text="#{msg.page.data}"></span>
                                </a>
                            </li>
                        </li>
                        <li sec:authorize="isAnonymous()"><a th:href="@{/login}" th:text="#{msg.login}"></a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{msg.logout}"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div layout:fragment="content" class="container-fluid"></div>
    <div sec:authorize="hasAuthority('admin')" class="modal fade" id="dataManagementModal" tabindex="-1" role="dialog" aria-labelledby="dataManagementModalLabel">
        <div class="modal-dialog" role="document">
            <form method="post" enctype="multipart/form-data" th:action="@{/admin/bookmark-import}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dataManagementModalLabel" th:text="#{msg.submitABookmark}"></h4>
                    </div>
                    <div class="modal-body">
                        File to upload: <input type="file" name="file" /><br/>
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/admin/bookmark-export}" class="btn btn-default" th:text="#{msg.form.button.export}"></a>
                        <input type="submit" th:value="#{msg.form.button.import}" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                &copy; 2016 Metro State Cougars
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            $('ul.nav a').filter(function() {
                return this.href == url;
            }).parent().addClass('active');
        });
        /*]]>*/
    </script>
    </body>
</html>