/* Global defaults */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 25px;
    padding-bottom: 15px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 25px;
    background-color: rgba(0, 0, 0, .9);
}
header {
    margin-bottom: 20px;
}

/* End Global defaults */

/* Bootstrap overrides */

/* End Bootstrap overrides */