<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}" lang="en">
<head>
    <title th:text="#{msg.page.advancedSearch}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{msg.page.advancedSearch}" class="sr-only"></h1>
    <div class="row search-form justify-content-center">
        <div class="col-md-8">
            <form method="get" th:action="@{/advanced-search}">
                <div class="card">
                    <div class="card-header"><h2 th:text="#{msg.page.advancedSearch}"></h2></div>
                    <div class="card-body">
                        <input type="text" class="form-control" th:placeholder="#{msg.url}" /><br/>
                        <input type="text" class="form-control" th:placeholder="#{msg.category}" /><br/>
                        <input type="text" class="form-control" th:placeholder="#{msg.subcategory}" /><br/>
                        <input type="text" class="form-control" th:placeholder="#{msg.name}" /><br/>
                        <input type="text" class="form-control" th:placeholder="#{msg.description}" />
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn" th:text="#{msg.form.button.submit}" />
                        <input type="reset" class="btn" th:text="#{msg.form.button.reset}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
