<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}" lang="en">
<head>
  <title th:text="#{msg.page.editBookmark}"></title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="#{msg.page.editBookmark}" class="sr-only"></h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" th:action="@{/admin/edit-bookmark}" th:object="${bookmarkBean}">
        <input type="hidden" th:field="*{id}"/>
        <div class="card">
          <div class="card-header"><h3 class="card-title" th:text="#{msg.submitABookmark}"></h3></div>
          <div class="card-body">
            <div class="form-group" th:classappend="${#fields.hasErrors('url') ? 'has-error' : ''}">
              <label th:text="#{msg.url}" for="urlInput"></label>
              <input id="urlInput" type="text" class="form-control" th:placeholder="#{msg.url}" th:field="*{url}"
                     aria-describedby="urlHelp"/>
              <span id="urlHelp" th:if="${#fields.hasErrors('url')}" th:errors="*{url}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('bookmarkCategory') ? 'has-error' : ''}">
              <label th:text="#{msg.category}" for="categoryInput"></label>
              <input id="categoryInput" type="text" class="form-control" th:placeholder="#{msg.category}"
                     th:field="*{bookmarkCategory}" aria-describedby="categoryHelp"/>
              <span id="categoryHelp" th:if="${#fields.hasErrors('bookmarkCategory')}" th:errors="*{bookmarkCategory}"
                    class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('subcategory') ? 'has-error' : ''}">
              <label th:text="#{msg.subcategory}" for="subcategoryInput"></label>
              <input id="subcategoryInput" type="text" class="form-control" th:placeholder="#{msg.subcategory}"
                     th:field="*{subcategory}" aria-describedby="subcategoryHelp"/>
              <span id="subcategoryHelp" th:if="${#fields.hasErrors('subcategory')}" th:errors="*{subcategory}"
                    class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
              <label th:text="#{msg.name}" for="nameInput"></label>
              <input id="nameInput" type="text" class="form-control" th:placeholder="#{msg.name}" th:field="*{name}"
                     aria-describedby="nameHelp"/>
              <span id="nameHelp" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('description') ? 'has-error' : ''}">
              <label th:text="#{msg.description}" for="descriptionInput"></label>
              <textarea id="descriptionInput" class="form-control" th:placeholder="#{msg.description}"
                        th:field="*{description}" aria-describedby="descriptionHelp"></textarea>
              <span id="descriptionHelp" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                    class="help-block"></span>
            </div>
          </div>
          <div class="card-footer">
            <input type="submit" class="btn" th:value="#{msg.form.button.submit}"/>
            <input type="reset" class="btn" th:value="#{msg.form.button.reset}"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
