<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
    <title th:text="#{msg.page.reviewBookmarks}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <table id="bookmark-table" class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                    <th th:text="#{msg.name}"></th>
                    <th th:text="#{msg.url}"></th>
                    <th th:text="#{msg.category}"></th>
                    <th th:text="#{msg.subcategory}"></th>
                    <th th:text="#{msg.description}"></th>
                    <th th:text="#{msg.status}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookmark : ${bookmarks}" role="row">
                    <td><a th:href="${bookmark.url}" th:text="${bookmark.name}" target="_blank"></a></td>
                    <td><a th:href="${bookmark.url}" th:text="${bookmark.url}" target="_blank"></a></td>
                    <td th:text="${bookmark.bookmarkCategory.name}"></td>
                    <td th:text="${bookmark.subcategory.name}"></td>
                    <td th:text="${bookmark.description}"></td>
                    <td th:text="${bookmark.status.name()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>